@tailwind base;

@layer base {
  html[data-theme="bumblebee"] {
    --color-primary: 237 160 49;
    --color-dark: 39 41 70;
    --color-light: 231 255 238;
  }

  html[data-theme="rust"] {
    --color-primary: 214 10 64;
    --color-dark: 87 42 48;
    --color-light: 252 213 172;
  }

  html[data-theme="bittersweet"] {
    --color-primary: 197 105 129;
    --color-dark: 40 35 40;
    --color-light: 163 162 154;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
