---
import Waves from "$components/Waves.svelte"
import Layout from "$layouts/Layout.astro"
---

<Layout title="About Me">
  <div class="w-full h-48 flex justify-center items-center font-bold text-white text-3xl bg-black font-grotesk">
    about me
  </div>

  <Waves client:only="svelte" class="bg-dark" color="--color-light" />

  <div class="bg-white text-black p-8">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa necessitatibus accusamus velit eaque tempora dignissimos beatae provident, molestias quod impedit repudiandae officiis voluptatem quis, vitae repellendus dolore. Tempora, ex doloremque!
    Ratione voluptas, eos mollitia quibusdam quisquam, nihil dolor dolorem laudantium at sint labore asperiores odio quas quaerat! Saepe voluptatum deserunt vero magni doloremque mollitia non architecto! Quis, suscipit aliquam! Cumque.
    Quod numquam animi commodi tempore quos modi quae nihil unde quidem, aspernatur, error eligendi hic quis aliquid accusamus neque minus similique ex obcaecati mollitia culpa odio, velit recusandae dolores? Nisi.
    Cumque voluptatem in neque necessitatibus asperiores accusantium eius dolores tempora aliquid totam obcaecati perspiciatis hic voluptate omnis fugit fuga, maiores ratione vel nemo exercitationem molestias similique modi eaque placeat! Incidunt.
    Rerum ea aut, quasi eaque doloribus iure laborum atque voluptate nostrum, laudantium beatae. Corrupti nemo quaerat quas sequi qui at, possimus quis fugiat odit eaque tempore labore distinctio molestias cupiditate.
    Libero eligendi laboriosam magnam impedit minima hic cupiditate error suscipit consequatur eos dolores veniam, labore sit possimus provident ducimus iure eaque numquam perferendis similique laborum! Maxime magnam nemo in. In.
    Ipsum numquam facilis recusandae aliquid expedita doloribus quidem hic voluptatum vero natus. Deserunt, fugit. Maiores aliquid reiciendis facere cumque fuga! Eos officia enim est odio omnis quae modi vel blanditiis?
    Ut dolores ipsa nulla, fuga eius soluta nam nihil quam veniam tempora! Magni consequatur blanditiis cupiditate minima quos ipsam possimus labore, eveniet nihil, voluptate beatae numquam necessitatibus qui delectus tempora.
    Tempora quasi nobis libero molestiae animi reprehenderit aut laudantium molestias, veniam vel aperiam iure ipsam soluta tenetur cupiditate maxime dolore alias, quibusdam aliquam fugit? Eos reprehenderit commodi voluptate nobis voluptatibus.
    Vitae repellendus, ratione, nesciunt totam ipsam quibusdam temporibus repellat earum accusamus neque dolores, quisquam perspiciatis voluptate. Officia recusandae laborum, dolorum architecto ullam excepturi facilis? Autem quae ducimus harum unde quod!
    Sit ipsam sunt placeat, provident repellendus incidunt quod rerum autem, aliquid dolorem, soluta laudantium. Tempore magni molestias accusamus nesciunt totam provident sint amet laudantium magnam! Officiis voluptatibus officia nulla eius!
    Veniam fugiat iusto, fuga quia ea iure sequi quos omnis dolores maxime consequatur dolorum repellendus natus, dolore illum. Maiores ex tempora reiciendis dolorem nihil dolor quis sapiente nobis porro mollitia.
    Et, nostrum! Soluta sint porro unde pariatur, architecto dolor ea alias labore totam molestiae minima cum illo, earum dignissimos tempore eligendi officia officiis similique assumenda suscipit atque? Magnam, tempore cumque?
    Repellat ex, provident dicta, itaque nostrum doloribus id asperiores deleniti quisquam inventore esse? Voluptatem eos enim amet. Blanditiis voluptatum non beatae, recusandae, minima dolorum officiis nostrum hic ratione quis nemo.
    Atque voluptatem suscipit ex ipsum placeat, nisi ab sit aliquam ut provident impedit fuga beatae sint reprehenderit temporibus facilis similique eaque quaerat at commodi quos! Illo dignissimos ipsa at architecto!
    Reiciendis incidunt, cum laboriosam magni facere pariatur explicabo ex porro perspiciatis nobis aut ducimus nam? Odio, iste nam? Dicta quis ipsam nisi? Dolor corrupti ex magni officia, similique ea dicta.
    Minus inventore provident quisquam ducimus doloribus repellendus iste possimus optio suscipit animi, dolorum consequuntur ratione dolor in perferendis fuga voluptas consequatur, earum id necessitatibus enim illum vel repudiandae? Dolore, voluptatem.
    Eum porro amet ad repellat, facere dolor iste tempore, maxime omnis, dolore mollitia reprehenderit aspernatur voluptatibus possimus. Officiis, tempora maxime voluptate, maiores quis consequuntur doloribus laborum necessitatibus itaque, dolores soluta!
    Nesciunt nostrum voluptatum atque assumenda similique consequuntur expedita deleniti aliquam itaque, quam magnam vel sed corporis cumque esse neque praesentium explicabo quod eius tenetur nisi harum? Iusto ea earum reprehenderit.
    Vitae ab qui dolorem doloremque iure ut quod repellendus nulla voluptatum repudiandae sequi, similique vero dolores. Corporis minus animi quasi, debitis, nobis atque officiis labore voluptates qui esse dicta libero.
    Aspernatur repellendus impedit perspiciatis qui distinctio, corporis officiis minima maxime rerum animi nam, molestiae beatae excepturi porro! Assumenda dolorem, dolor nisi, pariatur consectetur voluptates fugit veritatis unde nobis provident voluptate?
    At nesciunt sapiente ut cupiditate accusantium eius dicta totam cumque corporis blanditiis. At aliquam velit placeat illum est! Laudantium amet quasi recusandae incidunt et corporis iste repudiandae nemo repellat dicta!
    Ex soluta sapiente corrupti, consequuntur distinctio atque. Eveniet, nihil. Facere natus recusandae quaerat porro placeat expedita officia ducimus laboriosam, dolores alias quam vero officiis pariatur harum enim, itaque libero eligendi.
    Rem quia at quo quisquam laborum quos quas obcaecati blanditiis incidunt excepturi sequi, aut non hic nesciunt earum. Vero, ullam? Officia, vitae tempore quibusdam eum quas dolorum aliquid eos beatae?
    Ipsum optio in, voluptatibus voluptatum, sapiente repellat error unde provident nostrum hic explicabo voluptates omnis dolor rerum cum modi debitis odio maxime nam ea! Ea nobis dignissimos est quaerat eveniet.
  </div>
</Layout>
