---
import Layout from "$layouts/Layout.astro"
---

<Layout>
  <h1 class="flex justify-center items-center font-grotesk font-semibold text-3xl mt-52 text-center">
    🚧 My portfolio is still under construction, <br>come back later!
  </h1>
</Layout>
