---
import "@fontsource-variable/figtree";
import "@fontsource-variable/space-grotesk";
import "../styles/global.css";
import Cover from "$components/Cover.svelte";
import Navbar from "$components/Navbar.svelte";

interface Props {
	title?: string;
  description?: string;
}

const {
  title = "Deltae",
  description = "My portfolio."
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="bittersweet">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>{title}</title>
  </head>

  <body class="min-h-screen text-white bg-black duration-150 selection:bg-black underline-offset-[3px]">
    <Cover client:load />

    <Navbar client:only="svelte" />

    <main class="w-full h-full">
      <slot />
    </main>
  </body>
</html>
